.App {      
  text-align: center;      
}      
.navheader{      
  margin-top: 10px;      
  color :black !important;      
  background-color: #b3beca!important      
}    

.container {
  height: 300px;
  width: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.PageHeading      
{      
  margin-top: 10px;      
  margin-bottom: 10px;      
  color :black !important;      
}   

.alert {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}